#startGame{
  width:10em;
  height:2em;
  font-size: 3em;
  color:white;
  margin:0em 14em;
  border-radius: 1em;
  font-weight: bold;
  background-color: crimson;
  padding:6px;
  border: none;
  cursor:pointer;
  border-radius: 4px;   
}
#startGame:hover{
 background-color:rgb(202, 46, 46);
 border: 2px solid white;
 background-image:linear-gradient(315deg, #20bf55 0%, #01baef 74%);
}
#game div {
 border: 1px solid black;
 width: 12em;
 height: 12em;
 margin: 0.9em;
 display: inline-block;  
} 
#game .score{
 background-color: orange;
 width: 101em;
   height: 16em;
   text-align: center;
}

header{
 background-image: url("./backGroundImage.jpg");
 background-size: cover;
 content: "";
 position: absolute;
 top:0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: -1;
}

#bestScore h1{
 color:white;
 text-align:center;
 background-color: crimson;
 font-size: 2.2em;
}
header h1{
 color:white;
 text-align:center;
 margin-top: 3em;  
 background-color: crimson;
}
header h1:hover{
 background-image:linear-gradient(315deg, #20bf55 0%, #01baef 74%); 
 cursor:pointer;
}
#liveScore{
 color:white;
 background-color: crimson;  
 text-align: center;  
}
#liveScore h1{
 color:white;
 background-color: crimson;  
 text-align: center;  
 font-size: 2.2rem;  
}


#liveScore h1:hover{
 background-image:linear-gradient(315deg, #20bf55 0%, #01baef 74%); 
 cursor: pointer;
}


#liveScore:hover{
 background-image:linear-gradient(315deg, #20bf55 0%, #01baef 74%); 
 cursor: pointer;
}

section h1:hover{
 background-image:linear-gradient(315deg, #20bf55 0%, #01baef 74%); 
 cursor: pointer;
}
#restartGame{
 font-weight: bold;
 background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
 border: none;
 outline: none;
 cursor:pointer;
 font-size: 1.5em;
 border-radius: 2em;
 width:20em;
 height: 3em;
 color: white;  
 margin: 0em auto;
}
#restartGame:hover{
 background-image:linear-gradient(315deg, #20bf55 0%, #01baef 74%); 
 cursor: pointer;
}